# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/
.env


# OS files
.DS_Store
Thumbs.db

# Streamlit logs
.streamlit/

# IDE/editor files
.vscode/
.idea/

# Python packages
*.egg-info/
dist/
build/

# Logs
*.log

# Ignore secrets (like API keys)
secrets.json
